@use "../abstracts" as *;

// Classes
.container {
  padding: 0 1rem;
  margin: 0 auto;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: $red;
  &.m,
  &.s {
    display: none;
  }
  @include d("m") {
    &.l {
      display: none;
    }
    &.m {
      display: block;
    }
  }
  @include d("s") {
    &.m {
      display: none;
    }
    &.s {
      display: block;
    }
  }
}
